*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {font-size: 62.5%;}

img {width: 100%;}

.wrapper {
    background-color: #070018;
}

body {
    height: 100vh;
    background-color: #070018;
}

/************************

    General

************************/

/**** Header *****/

header {
    /** Flexbox **/
   /*  display: flex;
    justify-content: center;
    align-items: center; */
    /** CSS Grid **/
    display:grid;
    justify-content: center;
    align-items: center;
}

.header__img {
    max-width: 800px;
}


/**** Main *****/

main {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0 100px 0;
    background-image: url("../imgs/enrique-guzman-egas-gSstgCAgd3U-unsplash.jpg");
    background-position: center;
    background-color: gray;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-shadow: 4px 4px 6px black;
}


/**** Section ****/

.btn__div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 50px
}

.return__btn {
    padding: 20px 50px;
    background-color: #070018;
    color: #fff;
    font-weight: bolder;
}

.return__btn:hover {
    cursor: pointer;
    transition: 0.7s ease-in-out;
    background-color: yellow;
    color: #070018;
}


/**** Footer ****/

footer a {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 50px 100px;
}
/***********************

    Typography

***********************/

/**** Header *****/



/**** Main *****/

main {
    font-family: 'Handjet', cursive;
}

h1 {
    font-size: 7rem;
    margin-bottom: 10px;
    color: yellow;
}

p:nth-of-type(1) {
    font-size: 3rem;
    margin-bottom: 10px;
}


p:nth-of-type(2) {
    font-size: 2rem;
}


.submit__btn {
    width: 100px;
}

/**** Section ****/



/**** Footer ****/


footer {
    background-color: #070018;
    color: #fff;
    padding: 50px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
}



/**********************

    Media Query

**********************/